body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  background-color: black;
  border-bottom: 1px solid #185968;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  color: #287181;
  font-size: 20px;
}

.navbar {
  list-style: none; 
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
  color: orange;
  font-size: 12px;
}

.navbar a {
  text-decoration: none;
  color: orange;
}

.banner {
  height: 300px;
  background: url('../assets/imgs/bg-jelly-fish-para-home.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner .container {
  text-align: start;
  color: white;
}

.banner p {
  font-size: 28px;
  width: 200px;
  margin: auto;
}

.banner span {
  font-weight: bold;
}

.social {
  background-color: #dbd5d5;
  padding: 40px 0;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  text-align: center;
  width: 250px;
}

.box img {
  width: 80px;
  margin-bottom: px;
}

.box h4 {
  color: #ca2239;
}

.box p {
  font-size: 12px;
  color: #555;
  justify-content: center;
}


.footer {
  background-color: #2bb3c0;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer .version {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}